.sz-header-tlo
{
    height: 30vh;
}

.sz-header-h1
{
    margin: 0;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    font-size: 500%;
    letter-spacing: 1rem;
    color: var(--main-color);
    text-shadow: 5px 5px 10px var(--main-dark-color);
}
.sz-main-container
{
    min-height: 100rem;
    width: 80%;
    background-color: rgb(255, 255, 255, 0.5);
    margin: 0 10% 10% 10%;
    padding: 1rem 0 1rem 0;
    border-radius: 1rem;
    
}
.droga
{
    margin-left:10%;
    margin-bottom: 2rem;
    color: var(--main-color);
    font-size: 2rem;
}
.sz-lista
{
    
}
.sz-produkt
{
    height: 35rem;
    width: 90%;
    margin: 5%;
    background-color: var(--main-color);
    border-radius: 1rem;
    box-shadow: 0 0 0 3pt var(--main-dark-color);
    transition-duration: 0.35s;
    box-shadow: 1.5rem 1.8rem 4.7rem 0.8rem rgba(0,0,0,0.7);
    clear: both;
    transition-duration: 0.1s;
}
.sz-produkt:hover
{
    box-shadow: 0 0 0 4pt var(--main-dark-color);

        
}
.sz-produkt-image
{
    float: left;
    margin: 5%;
    width: 20%;
    transition-duration: 0.1s;
}
.sz-produkt-content
{
    position: relative;
    float: left;
    width: 70%;
    height: 100%;
    transition-duration: 0.1s;
}
.sz-produkt-name
{
    position: absolute;
    font-size: 125%;
    top: 2rem;
    left: 1rem;
    font-weight: bold;
    transition-duration: 0.1s;
}
.sz-produkt-cena
{
    position: absolute;
    font-size: 110%;
    top: 2rem;
    left: 31rem;
    transition-duration: 0.1s;
}
.sz-produkt-opis
{
    position: absolute;
    font-size: 110%;
    top: 7rem;
    left: 1rem;
    transition-duration: 0.1s;
}
.sz-produkt-dokoszyka
{
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--main-color);
    border-radius: 0.5rem;
    border: 0;
    box-shadow: 0 0 0 3pt var(--main-dark-color);
    padding: 1rem;
    transition-duration: 0.35s;
    outline: none;
}
.sz-produkt-dokoszyka:hover
{
    background-color:  var(--extra-color);
}
.sz-produkt-dokoszyka:active
{
    background-color:  var(--main-color);
}



