@media only screen and (max-width: 992px) 
{
    .log-header-h1
    {
        top: 15%;
        font-size: 300%;
        width: 40rem;
    }
    
    .sz-header-h1
    {
        top: 15%;
        font-size: 300%;
        width: 40rem;
    }
    
    .footer-beam
    {
        min-height: 11rem;
    }
    
    .log-login-container
    {
        left: 4rem;
        width: 80%;
        height: 25rem;
    }
    
    .log-register-container
    {
        left: 4rem;
        top: 27rem;
        width: 80%;
        height: 40rem;
    }
    
    .log-main-container
    {
        position: relative;
        min-height: 90vh;
        width: 50rem;
        height: 70rem;
        left: 40%;
        transform: translate(-50%);
        display: flex;
        align-items: center;
        padding: 0;
    }
    
    .sz-produkt-image
    {
        height: 100%;
    }
    
    .promo-photo
    {
        display: flex;
        justify-content: center;
        align-items: center;
    } 
    
    .forlittlepromo
    {
       width: 40%;

    }
    .little-promo 
    {
        width: 100%;
    }
    
    .main-promo
    {
        width: 50%;
        margin-right: 5%;
        height: 60rem;
    }
    
    .promo-description
    {
        font-size: 100%;
    }
    
    .promo-price
    {
        font-size: 125%;
    }
}