@media only screen and (max-width: 768px) 
{
    .header-h1
    {
        font-size: 300% !important;
    }
    
    .header-p
    {
        font-size: 140% !important;
    }
    
    .header-button
    {
        top: 90% !important;
        font-size: 150% !important;
    }
    
    .footer-beam
    {
        border-top-right-radius: 10rem;
        min-height: 21rem;
    }
    
    .newsletter
    {
        top: 10rem;
        right: 0;
        left: 10%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .copyright
    {
        font-size: 100%;
    }
    
    .allrights
    {
        font-size: 70%;
    } 
    
    .log-main-container
    {
        position: relative;
        min-height: 40rem;
        width: 50rem;
    }
    
    .sz-produkt-image
    {
        float: left;
        position: relative;
        margin: 5%;
        width: 40%;
        height: 100%;
    }
    
    .promo-photo
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .sz-produkt-content
    {
        position: relative;
        float: left;
        width: 50%;
        height: 100%;
    }

    .sz-produkt-cena
    {
        position: absolute;
        top: 30rem;
        bottom: 2rem;
        left: 0;
    }
    
    .sz-produkt-opis
    {
        margin-right: 1rem;
    }
}