:root
{
    --color-theme: #3c96d6;
    --green-custom: #32CD32;
    --red-custom: #ff1100;
}
/* COMMON */
/* title on top of every page */
.content-title
{
    position: relative;
}
.title_buttons
{
    position: absolute;
    right: 0;
    top: 0px;
}
/* panel buttons */
.ordinary_button, .accept_button, .decline_button
{
    background: transparent;
    float: left;
    font-size: 12px;
    padding: 5px;
    margin-left: 2.5px;
    border: 2px solid lightgray;
    transition: 0.2s;
    cursor: pointer;
    height: 28px;
}
.ordinary_button:hover
{
    background-color: var(--color-theme);
    color: white;
    border: 2px solid var(--color-theme);
}
.accept_button:hover
{
    background-color: var(--green-custom);
    color: white;
    border: 2px solid var(--green-custom);
}
.decline_button:hover
{
    background-color: var(--red-custom);
    color: white;
    border: 2px solid var(--red-custom);
}
.position_control
{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 4px;
    cursor: pointer;
}
.control_button
{
    background: transparent;
    float: left;
    font-size: 11px;
    padding: 5px;
    border: 2px solid lightgray;
    transition: 0.2s;
    cursor: pointer;
    margin-left: 3px;
}
.control_button:hover
{
    background-color: var(--color-theme);
    color: white;
    border: 2px solid var(--color-theme);
}
/* input styles */
input[type="text"], input[type="number"], input[type="datetime-local"], textarea, select
{
    width: 160px;
    border: 2px solid lightgray;
    padding: 2px;
    border-radius: 3px;
    transition: 0.2s;
    resize: none;
}
input[type="select"]:focus, input[type="number"]:focus, textarea:focus, select:focus
{
    border: 2px solid var(--color-theme);
}
select
{
    width: 165px;
}
#file_input
{
    display: none;
}
#file_input_label
{
    cursor: pointer;
    width: 160px;
    display: block;
    border: 2px solid lightgray;
    margin: auto;
    padding: 2px;
    border-radius: 3px;
    transition: 0.3s;
    font-size: 12px;
    text-align: center;
}
.list_bracket
{
    position: relative;
    width: auto;
    min-height: 30px;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid lightgray;
    font-size: 14px;
}
.list_bracket_control
{
    position: absolute;
    right: 0;
    top: 0;
    padding: 4px;
    cursor: pointer;
}
.sett_title
{
    float: left;
    padding: 5px;
    padding-top: 5px;
}
.sett_input
{
    float: right;
    padding-right: 12px;
}
/* save changes div */
.save_changes
{
    padding: 20px;
    text-align: right;
}
.save_changes input, input[type="submit"]
{
    width: 100px;
    background: transparent;
    float: right;
    font-size: 12px;
    padding: 5px;
    border: 2px solid lightgray;
    transition: 0.2s;
    cursor: pointer;
}
.save_changes input:hover, input[type="submit"]:hover
{
    background-color: var(--green-custom);
    color: white;
    border: 2px solid var(--green-custom);
}
/* MENU EDITOR */
.add_category
{
    width: 22px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 4px;
    transition: 0.2s;
    cursor: pointer;
}
.add_category:hover
{
    transform: scale(1.1);
}
.adding_form
{
    display: none;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid;
    border-image: linear-gradient(90deg,var(--color-theme) 0%, lightgray 50%, var(--color-theme) 100%);
    border-image-slice: 1;
    background-color: white;
    z-index: 10;
    pointer-events: all;
    padding: 10px;
    text-align: center;
}
.adding_form input[type="number"], #add_category_form input[type="text"]
{
    height: 25px;
    border: 1px solid #112D40;
    margin: 5px;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    transition: 0.3s;
    font-size: 12px;
}
.adding_form p
{
    width: 100%;
    padding: 0px;
    text-align: center;
    font-size: 12px;
    margin: 0px;
    padding: 5px;
}
.adding_form button
{
    width: 180px;
    height: 25px;
    border: 1px solid #112D40;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 12px;
    cursor: pointer;
    height: 30px;
    font-size: 12px;
    transition: 0.2s;
    background-color: white;
    margin-top: 20px;
}
.adding_form button:hover
{
    background-color: var(--color-theme);
    color: white;
    border: 2px solid var(--color-theme);
}
/* STATEMENT EDITOR */
.content-notify
{
    width: 100%;
    background-color: var(--color-theme);
    height: 50px;
    margin-top: 15px;
    color: white;
    display: inline-block;
}
.content-notify h4
{
    margin: 0;
    padding: 16px;
    font-size: 18px;
    float: left;
}
.content-notify div
{
    float: right;
    font-size: 12px;
    padding: 10px;
    text-align: center;
}
.sett_input_switch
{
    float: right;
    padding: 10px;
}
.content_bracket input
{
    width: 200px;
    border: none;
    border-bottom: 1px solid var(--color-theme);
    height: 20px;
    padding: 2px;
}
/* checkbox_switch */
.switch
{
    float: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
input[type="checkbox"]
{
    margin-right: 5px;
    width: 40px;
    height: 20px;
    visibility: hidden;
    display: none;
}
.check
{
    float: right;
    position:relative;
    display: block;
    width: 40px;
    height: 20px;
    background: gray;
    cursor: pointer;
    border-radius: 50px;
    overflow: hidden;
    transition: ease-in 0.2s;
}
input[type="checkbox"]:checked ~ .check
{
    background: var(--color-theme);
}
.check:before
{
    content: '';
    position: absolute;
    margin: 2px;
    left: 20px;
    background: #FFFFFF;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.3s;
}
input[type="checkbox"]:checked ~ .check:before
{
    transform: translateX(-20px);
}
/* PRODUCT CATEGORIES */
.status_diod
{
    border-radius: 100%;
    background-color: var(--color-theme);
    height: 10px !important;
    width: 10px !important;
    margin-right: 5px;
    float: left;
    box-shadow: 0px 0px 10px var(--color-theme);
}
/* products filters */
/* PRODUCTS */
.product_filters
{
    margin-bottom: 110px;
}
.filter_bracket
{
    float: left;
    width: 20%;
    font-size: 12px;
    padding-top: 10px;
    text-align: center;
}
.filter_bracket select, .filter_bracket input
{
    border: 2px solid lightgray;
    padding: 2px;
    border-radius: 3px;
    transition: 0.2s;
    width: 80%;
}
.filter_bracket select:focus, .filter_bracket input:focus
{
    border: 2px solid var(--color-theme);
}
.accept_filters
{
    float: right;
    cursor: pointer;
    width: 100px;
    height: 30px;
    font-size: 12px;
    transition: 0.2s;
    background-color: white;
    border: 2px solid var(--color-theme);
    margin: 10px;
    margin-right: 0;
}
.accept_filters:hover
{
    background-color: var(--color-theme);
    color: white;
    border: 2px solid var(--color-theme);
}
/* products brackets */
.product_container
{
    width: 100%;
    padding-top: 20px;
    clear: both;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.product_bracket
{   float: left;
    border: 2px solid lightgray;
    height: 280px;
    margin: 10px;
    width: 20%;
    text-align: center;
    position: relative;
}
.product_bracket img
{
    width: 180px;
}
.product_desc
{
    position: absolute;
    bottom: 0;
    height: 66%;
    width: 100%;
    padding-top: 10px;
    background-image: linear-gradient(rgba(255,255,255,0) 0%,white 25%);
}
.product_desc h5
{
    margin-bottom: 5px;
}
.product_desc .desc
{
    border-top: 2px solid lightgray;
    margin: 8px;
    padding: 5px;
    font-size: 12px;
}
.product_desc .price
{
    font-size: 16px;
    border: none;
    margin: 10px;
    font-weight: 700;
}
.product_button, .product_button_delete
{
    cursor: pointer;
    width: 60px;
    height: 28px;
    font-size: 12px;
    transition: 0.2s;
    background-color: white;
    border: 2px solid var(--color-theme);
}
.product_button:hover
{
    background-color: var(--color-theme);
    color: white;
    border: 2px solid var(--color-theme);
}
.product_button_delete:hover
{
    background-color: var(--red-custom);
    color: white;
    border: 2px solid var(--red-custom);
}
/* Popup for add data or sth else */
.add_form_popup
{
    display: none;
    position: absolute;
    left: 50%;
    top: 80px;
    transform: translateX(-50%);
    width: 50%;
    min-height: 75%;
    z-index: 100;
    background-color: white;
    border: 3px solid transparent;
    border-image: linear-gradient(var(--color-theme) 0%, lightgray 50%, var(--color-theme) 100%);
    border-image-slice: 1;
}
.popup_frame
{
    position: relative;
    width: auto;
    height: auto;
    padding: 20px;
    padding-top: 10px;
    font-size: 12px;
}
.close_window
{
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    transform: scale(0.8);
    transition: 0.2s;
    z-index: 100;
}
.close_window:hover
{
    transform: scale(0.9);
}
.popup_inputs
{
    margin-top: 20px;
}
.popup_inputs table
{
    margin: auto;
}
.popup_inputs table td
{
    padding: 5px;
}
.popup_frame input[type="text"], .popup_frame select, .popup_frame textarea, .popup_frame input[type="number"], .popup_frame input[type="datetime-local"]
{
    width: 160px;
    border: 2px solid lightgray;
    padding: 2px;
    border-radius: 3px;
    transition: 0.2s;
    resize: none;
}
.popup_frame input[type="text"]:focus, .popup_frame select:focus, .popup_frame textarea:focus, .popup_frame input[type="number"]:focus, .popup_frame input[type="datetime-local"]:focus
{
    border: 2px solid var(--color-theme);
}
#file_input
{
    display: none;
}
#file_input_label
{
    cursor: pointer;
    width: 160px;
    display: block;
    border: 2px solid lightgray;
    margin: auto;
    padding: 2px;
    border-radius: 3px;
    transition: 0.3s;
    font-size: 12px;
    text-align: center;
}
/* ORDERS.PHP */
.list_container
{
    clear: both;
    min-height: 100px;
    width: 100%;
    padding-top: 50px;
}
.list_bracket div
{
    float: left;
    width: 20%;
    text-align: center;
    font-size: 14px;
    padding: 5px;
}
.list_bracket .value, .list_desc .empty
{
    width: 10%;
}

.list_bracket
{
    height: auto;
    clear: both;
}

.list_index
{
    font-weight: 600;
    margin-bottom: 10px !important;
}